p{
    font-size: 14px;
}
.icon{
    margin-top:100px;
    padding: 10px 13px;
    border: 1px solid gray;
}
.icon:hover{
    background-color: black;
    color: white;
}
.footer-top{
    padding-top:50px;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
}
.footer-top a{
    color: black;
    text-decoration: none;
}
.footer-top a:hover{
    color: rgb(224, 70, 70);
}