.nav1{
    width: 256px;
    position: fixed;
    top:80px;
    bottom: 0px;
    background: #3c4b64;
    color: rgba(255,255,255,.8);
}
.cac{

    padding-top:80px;
}
.headeradmin{
    position: fixed;
    height: 80px;
    z-index: 10;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid gray;
}
.headeradmin .col{
    margin: auto;
}
.headeradmin .col:nth-child(3){
    text-align: right;
    margin-right: 300px;
}
.nav1 ul{
padding: 0px;
margin: 0px;
}
.nav1 li{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    list-style-type:none;
    color: cornsilk;
    font-size: 16px;
}
.nav1 li a{
    color: cornsilk;
}
.nav1 li i{
    padding-right: 10%;
}
.nav1 li:hover{
    background: #321fdb;
}